.App {
  // background-color: #1d1b1c;
  background-image: url("../images/fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: whitesmoke;
  &__main {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}
