.return__link {
  position: absolute;
  right: 350px;
  bottom: 295px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  font-family: "Goldman";
}

.character__detail {
  background-color: #10aac2;
  display: flex;
  align-items: center;
  width: 620px;
  padding: 36px 12px 36px 36px;
  margin-top: 20px;
  font-family: "Goldman";
}

.character__detail--img {
  width: 230px;
}

.character__detail--info {
  text-align: left;
  padding: 0 0 0 36px;
  margin: 0;
  font-family: "Goldman";
}

.character__detail--data {
  margin: 6px 0;
  font-family: "Goldman";
}
